:root {
    /* Copied from the wiki */
    --junk: #AAAAAA;
    --basic: black;
    --fine: #62A4DA;
    --masterwork: #1a9306;
    --rare: #fcd00b;
    --exotic: #ffa405;
    --ascended: #fb3e8d;
    --legendary: #4C139D;
}

html {
  width: 100% !important;
}
* {
  box-sizing: border-box;
  text-align: justify;
}
#body {
  position: relative;
}
body section {
  font-size: 1.15rem;
}

.no-style, .no-style:hover {
  text-decoration: inherit;
  color: inherit;
}

.pt-6 {
  padding-top: 6rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}

.scroller {
  overflow: scroll;
  max-height: 75vh;
}

.pointer {
  cursor: pointer;
}

#alert-header {
  position: sticky;
  z-index: 10000;
}

#item-grid {
    .main-item img {
        border: 5px solid;
        &.junk { border-color: var(--junk); }
        &.basic { border-color: var(--basic); }
        &.fine { border-color: var(--fine); }
        &.masterwork { border-color: var(--masterwork); }
        &.rare { border-color: var(--rare); }
        &.exotic { border-color: var(--exotic); }
        &.ascended { border-color: var(--ascended); }
        &.legendary { border-color: var(--legendary); }
    }
    .ingredient {
        & img { height: 75%; }
    }
}



/* ======  MEDIA QUERY SECTION START ====== */

/* <<<<<<  MEDIA QUERY SECTION END >>>>>> */
