/* NO COLORS IN COMMON.CSS PLEASE */
/* From wiki https://wiki.guildwars2.com/wiki/Guild_Wars_2_Wiki:Projects/CSS_documentation/fonts-_common
 * commented in case I need them later
@font-face {
    font-family: "EasonPro";
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-regular-webfont.eot");
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-regular-webfont.woff") format("woff"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-regular-webfont.ttf") format("truetype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-regular-webfont.svg#EasonProregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EasonPro";
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-italic-webfont.eot");
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-italic-webfont.eot?#iefix") format("embedded-opentype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-italic-webfont.woff") format("woff"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-italic-webfont.ttf") format("truetype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-italic-webfont.svg#EasonProitalic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "EasonPro";
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-bold-webfont.eot");
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-bold-webfont.eot?#iefix") format("embedded-opentype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-bold-webfont.woff") format("woff"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-bold-webfont.ttf") format("truetype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/eason/v1/easonpro-bold-webfont.svg#EasonProBold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Menomonia";
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot");
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot?#iefix") format("embedded-opentype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.woff") format("woff"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.ttf") format("truetype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.svg#MenomoniaRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Menomonia";
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia-italic.eot");
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia-italic.eot?#iefix") format("embedded-opentype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia-italic.woff") format("woff"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia-italic.ttf") format("truetype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia-italic.svg#MenomoniaRegular") format("svg");
    font-weight: normal;
    font-style: italic;
}
*/

@font-face {
    font-family: "CronosPro";
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/cronos/v1/cronospro-regular-webfont.eot");
    src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/cronos/v1/cronospro-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/cronos/v1/cronospro-regular-webfont.woff") format("woff"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/cronos/v1/cronospro-regular-webfont.ttf") format("truetype"),
        url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/cronos/v1/cronospro-regular-webfont.svg#CronosProregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


:root {
    /* Copied from the wiki */
    --junk: #AAAAAA;
    --basic: #212529;
    --fine: #62A4DA;
    --masterwork: #1a9306;
    --rare: #fcd00b;
    --exotic: #ffa405;
    --ascended: #fb3e8d;
    --legendary: #4C139D;
}

html {
  width: 100% !important;
}
* {
  font-family: CronosPro;
  box-sizing: border-box;
  text-align: justify;
}
#body {
  position: relative;
}
body section {
  font-size: 1.15rem;
}

.no-style, .no-style:hover {
  text-decoration: inherit;
  color: inherit;
}

.pt-6 {
  padding-top: 6rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}

.scroller {
  overflow: scroll;
  max-height: 75vh;
}

.pointer {
  cursor: pointer;
}

#alert-header {
  position: sticky;
  z-index: 10000;
}

#refresh-buttons {
    .fa-check {
        color: green;
    }
}

#item-grid {
    .todo-item {
        position: relative;
        .todo-delete {
            position: absolute;
            right: 20px;
            top: 5px;
            width: auto;
            cursor: pointer;
        }
    }

    .not-yet {
        opacity: 60%;
    }

    .main-item img {
        border: 5px solid;
        &.junk { border-color: var(--junk); }
        &.basic { border-color: var(--basic); }
        &.fine { border-color: var(--fine); }
        &.masterwork { border-color: var(--masterwork); }
        &.rare { border-color: var(--rare); }
        &.exotic { border-color: var(--exotic); }
        &.ascended { border-color: var(--ascended); }
        &.legendary { border-color: var(--legendary); }
    }
    .ingredient {
        position: relative;
        max-height: 48px;  /* icons are 64x64px*/
        max-width: 48px;
        .item-count {
            right: 0;
            color: white;
            background: #00000082;
            position: absolute;
            bottom: 0;
            margin: 0;
        }
    }
}



/* ======  MEDIA QUERY SECTION START ====== */

/* <<<<<<  MEDIA QUERY SECTION END >>>>>> */
